.body{
    background: #FFF;
    display:  flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    padding-top: 5vh;
    box-sizing: border-box;
}
.pocket{
    color: #000;
    font-size: 35px;
    font-family: 'Roboto', sans-serif;
    align-items: "center";
    margin-left: 4vw;
}

.create{
    position: fixed;
    margin-top: 75vh;
    height: 5rem;
    width: 5rem;
    margin-left: 18vw;
}
.plus{
    position: fixed;
    font-size: 5rem;
    font-family: Roboto;
    color: #FFF;
    margin-top: 74vh;
    margin-left: 19vw;
}
@media only screen and (max-width: 415px) {
    .body {
        position: absolute;
        width: 100vw;
        height: 100vh;   
    }
    .create{
        margin-left: 78vw;
        margin-top: 71vh;
    }
    .plus{
        margin-left: 82vw;
        margin-top: 70vh;
    }
}