.body{
    background: #DAE5F5;
    height: 100vh;
    width: 75vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.image{
    width: 35rem;
    height: 20rem; 
    margin-top: 18%;
}
@media only screen and (max-width: 415px) {
    .body {
      visibility: hidden;
    }
  }